name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 15 * * *"   # 매일 00:00 KST
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/profile-3d.yml
      - README.md

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      
      - uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
    
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          if git commit -m "update 3d profile"; then
            git push
          fi
